@{
    ViewData["Title"] = "Solicitação de métricas";
    ViewData["Page"] = "MetricsRequest";
    Layout = "_LayoutManagement";
}
<section class="container-fluid limit-1366 py-2">

    <h1 class="font-black my-5  text-center">Solicitação de métrica</h1>
    <p class="mt-2 mb-2 text-uppercase  text-center">Qual página que você vinculou com a sua conta Instagram?</p>

    <form>
        <div class="row justify-content-center">

            <div class="col-lg-5">
                <select class="form-control form-control-lg select-white">
                    <option disabled="disabled" selected="selected">Escolha a página</option>
                    <option>Página//midia/useracho</option>
                    <option>Página//midia/useracho002</option>
                    <option>Página//midia/useracho0003</option>
                    <option>Página//midia/useracho00004</option>
                    <option>Página//midia/useracho000005</option>
                </select>
            </div>

        </div>
        <div class="row justify-content-center">
            <a  href="javascript:building();" title="" role="button" class="btn btn-big btn-gradient-blue"> Permitir geração de análise </a>
        </div>
    </form>

    <div class="container-1366 my-3">
        <p>Somente usúario com uma função na Página do Facebook vinculada à conta do Instagram para Empresas podem conceder ao seu aplicativo permissões para usar o Metrics.</p>

        <p>A INFLUENCERS INC. METRICS, preza por distinto profissionalismo, integridade e ética, que são os valores centrais de nossa empresa. Com experiência de mais de 12 anos no segmento de tecnologia publicidade, criamos a plataforma para solucionar resultados e trazer as marcas, a realidade da influência digital. Não nos comprometemos em fazer a gestão de influenciadores, e sim, o que fazemos, e simplesmente o relatório de métricas de forma completa para INFLUENCIADORES, MARACAS e AGÊNCIAS no Brasil e de todo o mundo.</p>

        <p>A INFLUENCERS INC. considera a autenticidade dos influenciadores e das agências cadastradas e pesquisadas, a questão de maior importância. Porque a segurança e os melhores interesses do mercado é o que levamos a sério, nós solicitamos estar atento e ser cautelosos caso impostores encaminhem mensagens ou utilizem por apropriação indevida do nome da INFLUENCERS METRICS , conhecida como INFLUENCERS INC. Qualquer informações de pesquisas e dados jamais aparecerão de forma pública, ou seja, estará completamente segura e protegida por nossos termos de privacidade. O contato direto com influenciadores consultados através da Influencers Inc.ou Influencers Metrics, será realizado apenas através de agências, agentes ou marcas cadastradas e conveniadas a INFLUENCERS INC.</p>

        <p>Seja bem vindo.</p>
    </div>
</section>
