@{
    ViewData["Title"] = "Eu quero";
    ViewData["Page"] = "IWant";
    Layout = "_LayoutM2";
}
<section class="fullscreen container-fluid double-login iwant">
    <div class="container-1366">
        <header>
            <h2 class="h1 text-center font-black">Eu quero:</h2>
        </header>

        <div class="card-group">

            <div class="card">
                <div class="card-body">

                    <header class="card-title">
                        <h3 class="text-center font-black">
                            pesquisar influenciadores por I.A.
                        </h3>
                    </header>

                    <a class="btn btn-gray btn-text-big limit-w"  href="javascript:building();">
                        Clique aqui
                    </a>
                </div>

            </div>

            <div class="card">
                <div class="card-body">

                    <header class="card-title">
                        <h3 class="text-center font-black">
                            Auditar e Acompanhar Influenciadores e Campanhas
                        </h3>
                    </header>

                    <a class="btn btn-gray btn-text-big limit-w"  href="javascript:building();">
                        Clique aqui
                    </a>

                </div>
            </div>

        </div>

    </div>
</section>