@{
    ViewData["Title"] = "Pesquisa planos";
    ViewData["Page"] = "SearchPlans";
    Layout = "_LayoutM2";
}

<section id="pesquisas" class="container-fluid bg-white-gray">
    <div class="container-big limit-1366 text-center py-2">

        <header>
            <h2 class="h1 mt-5 font-black"> Pesquisa de influenciadores </h2>
        </header>
        <p class="text-uppercase">
            Pesquisa de Influenciadores onde nosso machine learning faz o acompanhamento do comportamento social e de consumo do influenciador e seus seguidores, em mais de 250.000 categorias de conteúdo, location, classe social, idade e gêneros.
        </p>

    </div>
</section>



<!--- todo o form se encontra aqui dividido em 3 partes
      o [data-step] é responsavel em mudar entre cada etapa --->
<section class="steps-container bg-white-gray" data-step="1">
    <!--- steps header -->
    <div class="steps">
        <div class="circles">
            <div class="c-1">
                1
            </div>
            <div class="c-2">
                2
            </div>
            <div class="c-3">
                3
            </div>
        </div>
        <div class="step-text">
            <p>Passo 1 de 3: <span>escolha seu plano</span></p>
            <p>Passo 2 de 3: <span>cadastre-se ou faça seu login</span></p>
            <p>Passo 3 de 3: <span>informe seus dados de pagamento</span></p>
        </div>
    </div>

    <!--- steps tabs -->
    <div class="container-tabs bg-white-gray">
        <div class="tab-1">
            <div class="type-table striped-row price-table mb-5">
                <div class="table-header">
                    <div class="row container-big">
                        <div class="col"></div>
                        <div class="col">
                            <div class="price-block bg-yellow font-black">

                                <div class="price" data-moeda="R$">
                                    399,
                                    <span class="cents" data-obs="">
                                        00
                                    </span>
                                </div>

                                <div class="text">
                                    Plano <span>Mensal</span>
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="price-block bg-yellow font-black">

                                <div class="price" data-moeda="R$">
                                    3.999,
                                    <span class="cents" data-obs="">
                                        00
                                    </span>
                                </div>

                                <div class="text">
                                    Plano <span>Anual</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row container-big">
                        <div class="col">30 Milhões de perfis analisados</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Machine learning entendendo comportamento social</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Comportamento de consumo</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Idade e Gênero</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Engajamento local</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">251.000 Categorias de influência</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Seguidores fantasmas</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Likes falsos</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Comentários automatizados ou troca</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Força de engajamento real</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Influencers contact</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Media kit atualizado 24Hrs</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div>
                    <div class="row container-big">
                        <div class="col">Aprove ou reprove antes de contratar</div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                        <div class="col"><i class="fas fa-check font-green"></i></div>
                    </div>
                </div>

                <div class="table-footer">
                    <div class="row container-big">
                        <div class="col"></div>
                        <div class="col">
                            <a href="" title="" data-toggle-step="2" class="btn btn-yellow expanded-btn"> contratar </a>
                        </div>
                        <div class="col">
                            <a href="" title="" data-toggle-step="2" class="btn btn-yellow expanded-btn"> contratar </a>
                        </div>
                    </div>
                </div>

            </div><!--- end table --->
        </div><!--- end tab 1 --->
        <!-- login / cadastro -->
        <div class="tab-2">
            <div class="row container-big limit-1366  mb-5">

                <div class="col-lg">
                    <div class="card slim-card card-100">
                        <div class="card-body">

                            <header class="card-title">
                                <h3 class="text-center font-black">
                                    Login
                                </h3>
                            </header>

                            <a class="btn btn-facebook btn-round-square btn-text-big mb-2" href="">
                                <i class="fab fa-facebook-square"></i> Entrar com o facebook
                            </a>

                            <p class="divider-or pb-5">
                                ou
                            </p>


                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <!--
                                            para utilizar mensagens de erro, informações ou sucesso....
                                            basta colocar os textos dentre do [data-] correspondente e acrescentar as classes:

                                            form-info    - > informações
                                            form-success - > validado
                                            form-error   - > informações
                                            para funcionar precisa primeiro ter a classe [info-text]
                                        -->
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="text" id="form-name331" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Usuário</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="password" id="form-name233" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Senha</label>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <a class="btn btn-light-blue btn-text-big limit-w" data-toggle-step="3" href="">
                                entrar
                            </a>

                            <div class="small-itens text-center mt-5 mb-2">
                                <a class="link text-initial" title="Veja os Termos e Condições" href="">Esqueci minha senha</a>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg">
                    <div class="card slim-card card-100">
                        <div class="card-body">

                            <header class="card-title">
                                <h3 class="text-center font-black">
                                    Cadastro
                                </h3>
                            </header>

                            <a class="btn btn-facebook btn-round-square btn-text-big mb-2" href="">
                                <i class="fab fa-facebook-square"></i> Continue com o facebook
                            </a>

                            <p class="divider-or pb-5">
                                ou
                            </p>


                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <!--
                                            para utilizar mensagens de erro, informações ou sucesso....
                                            basta colocar os textos dentre do [data-] correspondente e acrescentar as classes:

                                            form-info    - > informações
                                            form-success - > validado
                                            form-error   - > informações
                                            para funcionar precisa primeiro ter a classe [info-text]
                                        -->
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="text" id="form-name221" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>E-mail</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="text" id="form-name2221" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Nome de usuário</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="text" id="form-name122" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Telefone</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="password" id="form-name222" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Senha</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="password" id="form-name2222" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Confirmar senha</label>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <a class="btn btn-light-blue btn-text-big limit-w" data-toggle-step="3" href="">
                                cadastrar
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- end tab 2 -->
        <!-- cartao -->
        <div class="tab-3">

            <div class="row container-big limit-1366">

                <div class="col-lg">
                    <div class="card slim-card card-100">
                        <div class="card-body">

                            <div class="credits">
                                <img class="img-restrict" src="~/content/img/cards/visa.png" alt="VISA" />
                                <img class="img-restrict" src="~/content/img/cards/master.png" alt="MASTERCARD" />
                                <img class="img-restrict" src="~/content/img/cards/american.png" alt="American Express" />
                                <img class="img-restrict" src="~/content/img/cards/elo.png" alt="elo" />
                            </div>

                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="text" id="form-name1000" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Nome</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="text" id="form-name100" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Sobrenome</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="text" id="form-name10" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Número do cartão</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="date" id="form-name01" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Data de validade</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group material-form  info-text" data-info="Informações de preenchimento" data-success="Validado" data-error="Campo inválido">
                                            <input type="number" id="form-name001" name="form-namecard" required />
                                            <span class="bar"></span>
                                            <label>Código de segurança (CVV)</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row border-20 bg-light-gray p-3 text-left">
                                <h5 class="col-md col-8 mb-2 mt-0  order-2 order-md-1">
                                    Plano mensal
                                </h5>
                                <div class="col-md-auto col-12 text-md-right text-left mb-2 mt-0  order-1 order-md-2">
                                    <a href="#" title="" data-toggle-step="1" class="link-secondary text-initial"> Trocar </a>
                                </div>
                                <small class="col-12 text-left text-uppercase font-300 h6 my-1 order-3">
                                    R$ 119,00/mês após a utilização experimental
                                </small>
                            </div>

                        </div>


                        <div class="row  justify-content-center py-5 px-4">
                            <a class="btn btn-light-blue btn-text-big btn-full btn-520" href="">
                                Confirmar assinatura
                            </a>
                        </div>

                    </div><!-- end slim-card -->

                </div>
            </div>
        </div><!-- end tab 3 -->

    </div>
</section>
