@{
    ViewData["Title"] = "Pesquisas";
    ViewData["Page"] = "Search";
    Layout = "_LayoutM2";
}
<section id="pesquisas" class="half-screen container-fluid bg-light-gray">
    <div class="container-big limit-1366 vertical-center text-center py-2">

        <header>
            <h2 class="h1 font-black"> Pesquisa de influenciadores </h2>
        </header>
        <p class="text-uppercase">
            Pesquisa de Influenciadores onde nosso machine learning faz o acompanhamento do comportamento social e de consumo do influenciador e seus seguidores, em mais de 250.000 categorias de conteúdo, location, classe social, idade e gêneros.
        </p>

    </div>
</section>

<section id="experimente" class="half-screen container-fluid blue-gradient-deg">
    <div class="container-big limit-1366 vertical-center text-center py-2">

        <header>
            <h3 class="font-yellow font-400"> EXPERIMENTE POR 7 DIAS ANTES DE CONTRATAR  </h3>
        </header>
        <p class="text-uppercase font-yellow">
            Experimente pesquisar influenciadores através de inteligência artificial na Influencers Metrics por 7 dias. Você será cobrado em U$$ 7,00 para ativar o seu período de experimentação.  Após este período você será cobrado em U$$ 99,00 por mês
        </p>

        <div class="row  justify-content-center">
            <a  href="javascript:building();" title="" role="button" class="btn btn-yellow btn-big btn-text-bold mb-4"> EXPERIMENTAR OS 7 DIAS AGORA </a>
        </div>

    </div>
</section>
