@{
    ViewData["Title"] = "Planos influenciadores";
    ViewData["Page"] = "InfluencersPlans";
    Layout = "_LayoutM2";
}
<section>
    <div class="container-fluid container-big limit-1366 text-center py-2">

        <header>
            <h2 class="h1 mt-5 font-black"> ESCOLHA O SEU PLANO </h2>
        </header>
        <p class="text-uppercase container">
            TENHA O SEU MEDIA KIT COM AS INFOS ATUALIAZADAS TODAS AS SEMANAS E DISPONIBILIZE PARA MARCAS E AGÊNCIAS
        </p>

    </div>

    <div class="type-table striped-row price-table">
        <div class="table-header">
            <div class="row container-big">
                <div class="col"></div>
                <div class="col">
                    <div class="price-block bg-yellow font-black">

                        <div class="price" data-moeda="R$">
                            12,
                            <span class="cents" data-obs="">
                                99
                            </span>
                        </div>

                        <div class="text">
                            <span>1 PERFIL</span> social - Plano <span>Mensal</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="price-block bg-yellow font-black">

                        <div class="price" data-moeda="R$">
                            249,
                            <span class="cents" data-obs="">
                                00
                            </span>
                        </div>

                        <div class="text">
                            <span>1 PERFIL</span> social - Plano <span>Anual</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row container-big">
                <div class="col">Media Kit atualizado 24Hrs</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Compartilhe seu Media Kit</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Powerfull de engajamento real</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Força de alcance por gêneros</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Força de alcance por idades</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Força de alcance por cidades</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Perfil emocional</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Comportamento de consumo</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Acesso de marcas a seu Media Kit</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Relatórios de campanhas executadas</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>

        <div>
            <div class="row container-big">
                <div class="col">Inteligência artificial que entende sua performance</div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
                <div class="col"><i class="fas fa-check font-green"></i></div>
            </div>
        </div>


        <div class="table-footer">
            <div class="row container-big">
                <div class="col"></div>
                <div class="col">
                    <a  href="javascript:building();" title="" class="btn btn-yellow expanded-btn"> contratar </a>
                </div>
                <div class="col">
                    <a  href="javascript:building();" title="" class="btn btn-yellow expanded-btn"> contratar </a>
                </div>
            </div>
        </div>

    </div><!--- end table --->

    <div class="container-fluid container-big limit-1366 vertical-center text-center py-2 mb-5">
        <p class="my-4">Se você já tem um conta na INFLUENCERS METRICS, você terá as opções para upgrades e trocas de plano ao se logar e clicar em meu plano e conta.</p>

        <p class="my-4">Para pesquisas maiores que 600 análises em tempo real por favor entre em contato com <a title="" href="" class="text-initial">contato@influencersinc.com.br</a> para este tipo de contratação ou upgrade.</p>
    </div>


</section>