.helpPhoto {
    display: none;
}

.helpMentioned {
    display: none;
}

#photo:hover
.helpPhoto {
    display: block;
}

#mentioned:hover
.helpMentioned {
    display: block;
}

.RangeEngajamento {
    position: relative;
    display: inline-block;
}

    .RangeEngajamento .tooltipRangeEngamento {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .RangeEngajamento .tooltipRangeEngamento::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .RangeEngajamento:hover .tooltipRangeEngamento {
        visibility: visible;
        opacity: 1;
    }

.ComentariosSeguidores {
    position: relative;
    display: inline-block;
}

    .ComentariosSeguidores .tooltipComentariosSeguidores {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .ComentariosSeguidores .tooltipComentariosSeguidores::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .ComentariosSeguidores:hover .tooltipComentariosSeguidores {
        visibility: visible;
        opacity: 1;
    }

.Powerfull {
    position: relative;
    display: inline-block;
}

    .Powerfull .tooltipPowerfull {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .Powerfull .tooltipPowerfull::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .Powerfull:hover .tooltipPowerfull {
        visibility: visible;
        opacity: 1;
    }
