@page
@{
    //ViewData["Title"] = "Index";
    Layout = "_LayoutM2";
}
<div class="container py-md-6 py-5">
    <h1 class="font-weight-normal text-center">CONSULTE ENGAJAMENTO</h1>
    <p>
        Consultar um influenciador digital se torna hoje uma regra básica antes de qualquer contratação, não apenas consultar engajamento mas entender o que ele significa.
        <br />O Engajamento de um influenciador digital deve ser observado em diversas categorias como ;
    <p>
        <br />Geolocalização que maior interesse
        <br />Categoria ou assunto de interesse
        <br />Número de pessoas engajadas
        <br />Alcance total no país e alcance regional
        <br />Número de pessoas que curtiram, sexo e idade
        <br />Análise de perfil emocional do influenciador
        <br />Análise de resultados por postagem e data
        <br />Mapeamento de lugares por onde passou e que efeito causou por post
        <br />Análise powerful de alcance + engajamento
        <br />Análise de comentarios e likes fantasmas e unreal comments
    <p>
        Desta forma entenda a importância da INFLUENCERS METRICS para o mercado.
</div>