@page
@{
    //ViewData["Title"] = "Index";
    Layout = "_LayoutM2";
}

<div class="container py-md-6 py-5">
    <h1 class="font-weight-normal text-center">INFLUENCERS GUIDE</h1>
    <p>	Em desenvolvimento
</div>