@page
@{
    //ViewData["Title"] = "Index";
    Layout = "_LayoutM2";
}

<div class="container py-md-6 py-5">
    <h1 class="font-weight-normal text-center">SOBRE NÓS</h1>
    <p>
        Desde 2018, a Influencers Metrics está fornecendo soluções para melhorar a qualidade do marketing on-line de influenciadores, contribuindo para um ecossistema digital mais transparente e eficaz. Além de medir a visibilidade dos posts, a Influencers Metrics fornece controle sobre ambientes de publicidade, públicos-alvo e veiculações fraudulentas de posts no feed ou stories que podem ser considerados anúncios. A Influencers Metrics é a primeira empresa 100%  de tecnologia com sede nos EUA com foco em medições de detecção de fraude sofisticada de postagens por fake influencers e fake content e que vem fazendo varreduras para descobrir fake comments, fake likes, robôs que pioram a qualidade da publicidade no mercado, e que tem também como objetivo ajudar o facebook e instagram.
    <p></p>
    <br />Empresas líderes globais confiam nos produtos e serviços da Influencers Metrics.
    <br />Não vendemos informações e não somos uma plataforma de anúncios.
    <br />Seguimos todos as diretrizes do programa FMP para Measurement do Facebook e garantimos estar dentro de todas as conformidades de política de privacidade, assim como  a LGPD - LEI n.º 13.709, de 14 de Agosto de 2018.
    <p></p>
    <br />"Help marketers measure business results for real people, across devices and channels, using the metrics.”
    <p></p>
    <br />Influencers Inc. Corporation
    <p></p>
    <br />Através da Influencers Metrics, mostramos a realidade da influência e quem interessa contratar. Aos influenciadores, mostramos o que está errado e o que precisa melhorar, de forma simples e transparente.
    <p>

</div>