//// imports

/// variaveis globais
$max-width: 1640px;
$max-width-strict: 1366px;

$init-space: /*144px*/ 72px;
$size-contFlag: 48px;
$size-flag: /*54px*/ 32px;
$h-width-btns: 100%;
$h-space-btns: 8px;

/// dash vars
$side-bar-width: 280px;
$sidebar-padding: 10px;
$avatar-sidesize: 48px;


/// pastas
$default-root: '../img/backgrounds/';
 $social-root: '../img/social/';
   $flag-root: '../img/flags/';

// Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700');

// Settings
@import 'settings/mixin';
@import 'settings/placeholders';

/// project parts
@import 'settings/cores';
@import 'settings/imagesBG';
@import 'settings/fonts';
@import 'settings/forms';
@import 'settings/tables';


/*** plugins ***/
@import 'settings/customrange';
@import 'settings/gallery';


/**** ajustes do layout *****/
@import "layout";


/*** make mediaquerie placeholders **/
@import 'settings/makePlaceholders';
@import "media-querie";






/**** assets ***/
.assets-project{
	
	header{
		
		&.navbar{
			
			height: 140px;
			
			
			h1{
				@extend %color-black;
				@extend %font-60;
				@extend %font-700;
				@extend %text-uppercase;
				
				@extend %text-center;
				@extend %w-100;
			}
		}
		
		h1{
			@extend %font-32;
			@extend %text-uppercase;
			
			margin-top: 32px;
			///@extend %font-500;
			///@extend %color-gray;
		}
	}
	
	h2{
		@extend %font-24;
		@extend %font-300;
		@extend %text-uppercase;
		
		padding: 12px 0;
		margin-top: 16px;
	}
	
	section{
		padding: 24px 0;
		
		
		&.ex-buttons{
			.container{
				.row{
					@extend %text-center;
					
				}
			}
		}
		
		&.ex-bgs{
			[class*="col-"]{
				
				&[class*="bg-"],
				&[class*="graph-"]{
					
					height: 48px;
					margin: 0 2px;
				
					@extend %color-white;

					&[class*="-white"],
					&[class*="-light-gray"]{
						@extend %color-black;
					}
					
					&[class*="graph-"]:nth-last-child(1),
					&[class*="graph-"]:nth-last-child(2){
						@extend %color-black;
					}
				}
				
				&[class*="-gradient"]{
					height: 56px;
					margin: 0 8px;
				
					@extend %color-white;
				}
			}
		}
	}
	
}
