<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <connectionStrings>
    <!--<add name="conexaoMongoDB" connectionString="mongodb://localhost:27017"/>-->
    <add name="conexaoMongoDB" connectionString="mongodb://localhost:27017" />
  </connectionStrings>

  <appSettings>
    <add key="TokenPagSeguro" value="91F648F3E1E34E9F9F09FCD83B9D918A" />
    <add key="EmailPagSeguro" value="cassio@webinvestgroup.com.br" />
    <add key="UrlInstagram" value="https://api.instagram.com/oauth/authorize/?client_id=2143b50835c049f0baedb36d52090c46&amp;redirect_uri=https://localhost:44377/relatorios/authorize/&amp;response_type=code&amp;scope=public_content+basic" />
    <add key="UrlPagSeguro" value="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js" />
<!--
      <add key="TokenPagSeguro" value="FF2C65641264435485926B166A1FC5A5" />
      <add key="EmailPagSeguro" value="cassio@webinvestgroup.com.br" />
      <add key="UrlInstagram" value="https://api.instagram.com/oauth/authorize/?client_id=2143b50835c049f0baedb36d52090c46&amp;redirect_uri=https://localhost:44377/relatorios/authorize/&amp;response_type=code&amp;scope=public_content+basic" />
      <add key="UrlPagSeguro" value="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"/>
  -->

    <add key="AWSAccessKey" value="AKIAIEXAGQCEREMOQ2XA" /><!--"AKIAI2KZHX4HOZ64T7TQ"-->
    <add key="AWSSecretKey" value="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" /><!--ZCFoWRp0otLPXBWZ9CD6oyyen2W2VeUJ6Eq+4rhf-->
    <add key="AWSRegion" value="us-east-1" />
    <add key="UrlS3" value="https://s3.amazonaws.com/influencersmetrics/" />
  </appSettings>

</configuration>