@model webMetrics.Models.DTO.PagamentoPage

@{
    ViewData["Title"] = "Pagamento";
	Layout=null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Influencers Inc</title>
  
	<link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.css">
	<link rel="stylesheet" href="~/resources/assets/styles/fonts.css">
	<link rel="stylesheet" href="~/resources/assets/styles/global.css">
	<link rel="stylesheet" href="~/resources/assets/styles/mobile.css">
	<link rel="stylesheet" href="~/resources/assets/styles/payment.css">

	<script type="text/javascript" src="@Html.Raw(ViewBag.jsUrlPagaSeguro)"></script>
	<script type="text/javascript">
		@Html.Raw(ViewBag.jsExecutar)
	</script>
	<script>
		if (location.protocol != 'https:')
			{
				location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
			}
	</script>
</head>
<body id="page-planos">    
  <div class="container-fluid">
    <div class="row bg-blue py-6">
      <div class="col-12">
        <h1 class="text-center text-white title-metrics2 font-weight-semi-bold" style="letter-spacing:5px;">INFLUENCERS INC INTELLIGENCE & METRICS MEDIA</h1>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-8 mx-auto col-md-2 text-center">
        <img width="100%" src="~/resources/assets/images/logo3.png" alt="logo">
      </div>
    </div>
    <div class="container py-5" id="page-checkout">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">CARRINHO</h3>
        </div>
      </div>
  
	  <form asp-action="Pagamento">
		  <div class="row mt-3">
			<div class="col-md-6 mx-auto">
			  <div class="card">
				<table width="100%" class="table-sm table-borded table-striped">
				  <thead>
					<tr>
					  <th>DESCRIÇÃO</th>
					  <th width="30" class="text-center">QUANTIDADE</th>
					  <th width="100" class="text-center">VALOR</th>
					</tr>
				  </thead>
				  <tbody id="lines-table-checkout">
					<tr>
					  <td id="plan-name"><b>PLANO:</b> PARA INFLUENCIADORES E MARCAS</td>
					  <td class="text-center">
						<input asp-for="Quantidade" type="text" id="quantity" name="quantity" readonly
						class="form-control form-control-sm text-center">
					  </td>
					  <td  class="text-center" id="plan-price">R$ @Html.Raw(Model.Valor)</td>
					</tr>
				  </tbody>
				  <tfoot class="bg-light">
					<tr>
					  <td colspan="2" class="text-right">TOTAL A PAGAR</td>
					  <td id="total" class="font-weight-bold text-center">R$ @Html.Raw(Model.Total)</td>
					</tr>
				  </tfoot>
				</table>
			  </div>
			</div>
		  </div>
	  
		  <div class="row mt-5">
			<div class="col-12">
			  <h3 class="text-center">DADOS DO COMPRADOR</h3>
			</div>
		  </div>
		  <div class="row mt-3">
			<div class="col-md-6 col-12 mx-auto">
			  <div class="card card-body">
				  <input type="hidden" id="hddtokenCard" runat="server" />
				  <input type="hidden" id="hddhash" runat="server" />
				  <div class="row">
					<div class="form-group col-md-6">
					  <label asp-for="Usuario.Email">E-MAIL</label>
					  <input type="text" asp-for="Usuario.Email" class="text-center form-control form-control-sm" placeholder="">
					</div>
					<div class="form-group col-md-6">
					  <label asp-for="Usuario.Nome">NOME COMPLETO</label>
					  <input type="text" asp-for="Usuario.Nome" class="text-center form-control form-control-sm" placeholder="">
					</div>
				  </div>
				  <div class="row">
					<div class="form-group col-md-6">
					  <label asp-for="Usuario.Cpf">CPF</label>
					  <input asp-for="Usuario.Cpf" type="text" class="cpf text-center form-control form-control-sm" placeholder="" maxlength="14">
					</div>
					<div class="form-group col-md-6">
					  <label asp-for="Usuario.Telefone">TELEFONE</label>
					  <div class="row m-0">
						<div class="col-3 px-0">
						  <input type="text" asp-for="Usuario.Telefone" class="ddd text-center form-control form-control-sm" placeholder="" maxlength="2">                      
						</div>
						<div class="col-9 pr-0">
						  <input type="text" asp-for="Usuario.Telefone" class="phone text-center form-control form-control-sm" placeholder="" maxlength="10">
						</div>
					  </div>
					</div>
				  </div>              
				  <h6 class="mb-3 text-uppercase">Endereço Residencial</h6>              
				  <div class="row">                
					<div class="form-group col-md-4">
					  <label asp-for="Usuario.PostalCode">CEP</label>
					  <input type="text" asp-for="Usuario.PostalCode" class="cep text-center form-control form-control-sm" placeholder="" maxlength="9">
					</div>
					<div class="form-group col-md-8">
					  <label asp-for="Usuario.Street">ENDEREÇO</label>
					  <input asp-for="Usuario.Street" type="text" class="text-center form-control form-control-sm" placeholder="">
					</div>
				  </div>
				  <div class="row">
					<div class="form-group col-md-2">
					  <label asp-for="Usuario.Number">NÚMERO</label>	
					  <input type="text" asp-for="Usuario.Number" class="text-center form-control form-control-sm" placeholder="">
					</div>
					<div class="form-group col-md-5">
					  <label asp-for="Usuario.Complement">COMPLEMENTO</label>
					  <input type="text" asp-for="Usuario.Complement" class="text-center form-control form-control-sm" placeholder="">
					</div>
					<div class="form-group col-md-5">
					  <label asp-for="Usuario.District">BAIRRO</label>
					  <input type="text" asp-for="Usuario.District" class="text-center form-control form-control-sm" id="neighborhood" name="neighborhood" placeholder="">
					</div>
				  </div>
				  <div class="row">
					<div class="form-group col-md-5">
					  <label asp-for="Usuario.City">CIDADE</label>
					  <input type="text" asp-for="Usuario.City" class="form-control form-control-sm text-center">
					</div>
					<div class="form-group col-md-3">
					  <label asp-for="Usuario.State">ESTADO</label>
					  <input type="text" asp-for="Usuario.State" maxlength="2" class="form-control form-control-sm text-center text-uppercase">
					</div>
					<div class="form-group col-md-4">
					  <label for="Usuario.country">PAÍS</label>
					  <input type="text" id="Usuario.country" class="form-control form-control-sm text-center" value="BRA" disabled="">
					</div>
				  </div>
			  </div>
			</div>
		  </div>
      
		  <div class="row mt-5">
			<div class="col-12">
			  <h3 class="text-center">MEIOS DE PAGAMENTO</h3>
			</div>
		  </div>
		  <div class="row mt-3">
			<div class="col-md-6 col-12 mx-auto">
			  <ul class="nav nav-pills nav-justified mb-3" id="pills-checkout" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active p-1 p-md-3" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
					<i class="fa fa-credit-card mr-1"></i> CARTÃO DE CRÉDITO
				  </a>
				</li>
				<!-- <li class="nav-item">
				  <a class="nav-link p-1 p-md-3" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
					<i class="fa fa-barcode mr-1"></i> BOLETO
				  </a>
				</li> -->
			  </ul>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-6 mx-auto">
			  <div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				  <div class="card card-body">
					  <div class="form-group">
						<label for="customRadio1" class="mb-2">DADOS DO TITULAR DO CARTÃO</label><br>
						<!--<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="dados1" value="0" name="customRadio" class="custom-control-input" checked="">
						  <label class="custom-control-label" for="dados1">Mesmo que o comprador</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="dados2" value="1" name="customRadio" class="custom-control-input">
						  <label class="custom-control-label" for="dados2">Outro</label>
						</div>-->
					  </div>
					  <div class="form-group">
						<label for="card_number">
						  NÚMERO DO CARTÃO
						</label>
						<input type="text" class="card-number text-center form-control form-control-sm" 
							id="txtcardNumber" placeholder="" value="" maxlength="19">
					  </div>
					  <div class="row">
						<div class="form-group col-md-4 col-12">
						  <label for="card_month_expiration"><small>DATA DE</small><br class="d-inline-block"> VENCIMENTO</label>
						  <div class="row m-0">
							<div class="col-md-4 col-5 pl-0 pr-0">
							  <input type="text" class="text-center form-control form-control-sm text-center" id="txtexpirationMonth" maxlength="2" placeholder="" value="">
							</div>
							<div class="col-md-8 col-7 pr-0">
							  <input type="text" class="text-center form-control form-control-sm text-center" id="txtexpirationYear" maxlength="4" placeholder="" value="">
							</div>
						  </div>
						</div>
						<div class="form-group col-md-4 col-12">
						  <label for="card_security"><small>CÓDIGO DE</small><br> SEGURANÇA</label>
						  <input type="hidden" id="txtbrand" />
						  <input type="text" class="text-center form-control form-control-sm" id="txtcvv" maxlength="4" placeholder="" value="">
						</div>
						<div class="form-group col-md-4 col-12">
						  <label for="card_birthday"><small>DATA DE</small><br class="d-inline-block"> NASCIMENTOs</label>
						  <input type="date" class="date text-center form-control form-control-sm text-center" 
							id="card_birthday" name="card_birthday" placeholder="" maxlength="10" onkeypress="mascaraData(this)">
						</div>
					  </div>
					<div class="row" id="outro" style="display:none;">
					  <div class="col-12">
						<div class="dropdown-divider border-grey"></div>
						<h6 class="my-3">DADOS DO TITULAR DO CARTÃO</h6>
						  <div class="row">
							<div class="form-group col-md-6">
							  <label for="email">E-MAIL</label>
							  <input type="text" class="text-center form-control form-control-sm" id="card_email" placeholder="">
							</div>
							<div class="form-group col-md-6">
							  <label for="name">NOME COMPLETO</label>
							  <input type="text" class="text-center form-control form-control-sm" id="card_name" placeholder="">
							</div>
						  </div>
						  <div class="row">
							<div class="form-group col-md-6">
							  <label for="email">CPF</label>
							  <input type="text" class="cpf text-center form-control form-control-sm" id="card_cpf" placeholder="" maxlength="14">
							</div>
							<div class="form-group col-md-6">
							  <label for="phone">TELEFONE</label>
							  <div class="row m-0">
								<div class="col-3 px-0">
								  <input type="text" class="ddd text-center form-control form-control-sm" id="card_ddd" placeholder="" maxlength="2">
								</div>
								<div class="col-9 pr-0">
								  <input type="text" class="phone text-center form-control form-control-sm" id="card_phone" placeholder="" maxlength="10">
								</div>
							  </div>
							</div>
						  </div>
						  <h6 class="mb-3 text-uppercase">Endereço Residencial</h6>
						  <div class="row">
							<div class="form-group col-md-4">
							  <label for="card_cep">CEP</label>
							  <input type="text" class="cep text-center form-control form-control-sm" id="card_cep" name="cep" placeholder="" maxlength="9">
							</div>
							<div class="form-group col-md-8">
							  <label for="card_address">ENDEREÇO</label>
							  <input type="text" class="text-center form-control form-control-sm" id="card_address" name="address" placeholder="">
							</div>
						  </div>
						  <div class="row">
							<div class="form-group col-md-2">
							  <label for="card_address_number">NÚMERO</label>
							  <input type="text" class="text-center form-control form-control-sm" id="card_address_number" name="number" placeholder="">
							</div>
							<div class="form-group col-md-5">
							  <label for="card_complement">COMPLEMENTO</label>
							  <input type="text" class="text-center form-control form-control-sm" id="card_complement" name="complement" placeholder="">
							</div>
							<div class="form-group col-md-5">
							  <label for="card_neighborhood">BAIRRO</label>
							  <input type="text" class="text-center form-control form-control-sm" id="card_neighborhood" name="neighborhood" placeholder="">
							</div>
						  </div>
						  <div class="row">
							<div class="form-group col-md-5">
							  <label for="city">CIDADE</label>
							  <input type="text" id="card_city" class="form-control form-control-sm text-center">
							</div>
							<div class="form-group col-md-3">
							  <label for="uf">ESTADO</label>
							  <input type="text" id="card_uf" class="form-control form-control-sm text-center">
							</div>
							<div class="form-group col-md-4">
							  <label for="country">PAÍS</label>
							  <input type="text" id="card_country" disabled="" class="form-control form-control-sm text-center" value="BRA">
							</div>
						  </div>						
					  </div>
					</div>
				  </div>
				  <div class="row mt-5">
					<div class="col-12 text-center">
					  <a href="javascript:;" onclick="javascript:SubmitBrand();" class="btn btn-sm btn-blue py-2 px-5">FINALIZAR O PAGAMENTO</a>
					</div>
				  </div>
				</div>
			  </div>          
			</div>		
		</div>
	  </form>	  
    </div>
  </div>

  <footer class="border border-bottom-0 border-left-0 border-right-0 border-1 mt-5">
    <div class="container-fluid text-center text-md-left">
      <div class="row m-0">
        <div class="col-11 mx-auto">
          <div class="row py-5">
            <div class="col-lg-3 col-12 mb-3">
              <div class="row">
                <div class="col-lg-10 pl-0">
                  <h6 class="text-dark font-weight-semi-bold">INFLUENCERS INC</h6>                  
                  <nav class="nav flex-column">
                    <a class="nav-link text-muted px-0" href="~/home/sobrenos">SOBRE NÓS</a>
                    <a class="nav-link px-4" href="~/entenda_a_importancia.pdf" target="_blank">ENTENDA A IMPORTÂNCIA</a>
                    <a class="nav-link text-muted px-0" href="javascript:alert('Em breve');">IMPRENSA</a>
                    <a class="nav-link text-muted px-0" href="javascript:alert('Em breve');">TEAM</a>
                  </nav>
                </div>
              </div>              
            </div>
            <div class="col-lg col-12 mb-3">
              <h6 class="text-dark font-weight-semi-bold">DESCUBRA</h6>
              <nav class="nav flex-column">
                <a class="nav-link text-muted px-0" href="~/home/descubra#micro">MICRO INFLUENCERS</a>
                <a class="nav-link text-muted px-0" href="~/home/descubra#colaborador">COLABORADORES</a>
                <a class="nav-link text-muted px-0" href="~/home/descubra#marcas">MARCAS</a>
              </nav>
            </div>
            <div class="col-lg-4 col-12 mb-3">
              <h6 class="text-dark font-weight-semi-bold">SEJA UM MICROINFLUENCER</h6>
              <nav class="nav flex-column">
                <a class="nav-link text-muted px-0" href="~/home/passoapasso">PASSO A PASSO</a>
                <a class="nav-link text-muted px-0" href="~/home/influencersguide">INFLUENCERS GUIDE</a>
                <a class="nav-link text-muted px-0" href="~/home/workshop">WORKSHOP</a>
              </nav>
            </div>
            <div class="col-lg col-12 mb-3 pr-0">
              <h6 class="text-dark font-weight-semi-bold">INTELLIGENCE & METRICS</h6>
              <nav class="nav flex-column">
                <a class="nav-link text-muted px-0" href="~/home/ConsulteEngajamento">CONSULTE ENGAJAMENTO</a>
                <a class="nav-link text-muted px-0" href="~/Home/EntendaaImportancia">ENTENDA A IMPORTÂNCIA</a>
              </nav>
            </div>
          </div>
          <div class="row d-flex align-items-center py-4 border border-left-0 border-right-0 border-1 border-bottom-0 border-black" id="sub-footer">
            <div class="col-lg-2 col-6 mx-auto ml-md-0 pl-0 mb-3 mb-md-0">
              <img src="~/resources/assets/images/logo2.png" style="width: 80%">
            </div>
            <div class="col-lg-8 col-12 text-center text-muted">
              <div class="row">
                <div class="ml-auto col-lg-6 col-12 mb-3 mb-md-0">
                  ALL RIGHTS RESERVED INFLUENCERS INC. © 2019.
                </div>
                <div class="col-lg-4 col-12 mb-3 mb-md-0">
                  <a class="text-muted" href="javascript:;" data-toggle="modal" data-target="#modalTermosECondicoes">TERMOS E CONDIÇÕES</a>
                </div>
              </div>       
            </div>
            <div class="col-lg-2 col-12 p-0 text-center">
              <nav class="nav justify-content-md-end justify-content-center">
                <a class="nav-link text-dark p-0" href="http://www.instagram.com/influencersinc"><i class="fab fa-lg fa-instagram"></i></a>
                <a class="nav-link text-dark p-0 pl-2" href="http://www.facebook.com/influencersinc"><i class="fab fa-lg fa-facebook"></i></a><a class="nav-link text-dark p-0 pl-2" href="https://www.youtube.com/channel/UCoYfvO-p8lWpj0Yw-O--25A"><i class="fab fa-lg fa-youtube"></i></a>
                
                
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="~/node_modules/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>  
  <script src="~/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
  <script src="~/resources/assets/javascripts/payment.js"></script>
  <script src="~/js/Pagamento.js"></script>
  <script type="javascript" >
  function mascaraData(val) {
  var pass = val.value;
  var expr = /[0123456789]/;

  for (i = 0; i < pass.length; i++) {
    // charAt -> retorna o caractere posicionado no índice especificado
    var lchar = val.value.charAt(i);
    var nchar = val.value.charAt(i + 1);

    if (i == 0) {
      // search -> retorna um valor inteiro, indicando a posição do inicio da primeira
      // ocorrência de expReg dentro de instStr. Se nenhuma ocorrencia for encontrada o método retornara -1
      // instStr.search(expReg);
      if ((lchar.search(expr) != 0) || (lchar > 3)) {
        val.value = "";
      }

    } else if (i == 1) {

      if (lchar.search(expr) != 0) {
        // substring(indice1,indice2)
        // indice1, indice2 -> será usado para delimitar a string
        var tst1 = val.value.substring(0, (i));
        val.value = tst1;
        continue;
      }

      if ((nchar != '/') && (nchar != '')) {
        var tst1 = val.value.substring(0, (i) + 1);

        if (nchar.search(expr) != 0)
          var tst2 = val.value.substring(i + 2, pass.length);
        else
          var tst2 = val.value.substring(i + 1, pass.length);

        val.value = tst1 + '/' + tst2;
      }

    } else if (i == 4) {

      if (lchar.search(expr) != 0) {
        var tst1 = val.value.substring(0, (i));
        val.value = tst1;
        continue;
      }

      if ((nchar != '/') && (nchar != '')) {
        var tst1 = val.value.substring(0, (i) + 1);

        if (nchar.search(expr) != 0)
          var tst2 = val.value.substring(i + 2, pass.length);
        else
          var tst2 = val.value.substring(i + 1, pass.length);

        val.value = tst1 + '/' + tst2;
      }
    }

    if (i >= 6) {
      if (lchar.search(expr) != 0) {
        var tst1 = val.value.substring(0, (i));
        val.value = tst1;
      }
    }
  }

  if (pass.length > 10)
    val.value = val.value.substring(0, 10);
  return true;
}
  </script>

  	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/5ca9005553f1e453fb8c767a/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
</body>
</html>